---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Boston+United+States+of+America&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="MA7Cx0gxLowfeOuATK6S3Qpiw70Eo6s8QaKr%2ByMAY18%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1510204452", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Thu, 09 Nov 2017 05:14:13 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Boston+United+States+of+America&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="Z3t4lXcmH267KdX%2BuVtgOkhAtg0FTAA3YN8Syomm3Dk%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1510204454", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Thu, 09 Nov 2017 05:14:15 GMT
recorded_with: VCR 3.0.3
