---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Mekambo+Gabon+travel&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="IzmLsxJ2dHjv4FMjb5R%2FDf5QP7zuTisJIN1FDxjFJmI%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1569010669", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Fri, 20 Sep 2019 20:17:51 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Gabon+travel&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="nE4Zb13JFf%2FoQF0VG2WrJ82KXmAjAAvjQYFSKyE6zCo%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1569010677", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1,"perpage":100,"total":"10","photo":[{"id":"5617558600","owner":"61727647@N03","secret":"3c5dcd49a1","server":"5227","farm":6,"title":"Loango
        National Park. GabonTravel (3)","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5617558496","owner":"61727647@N03","secret":"e5dfc574fd","server":"5026","farm":6,"title":"Loango
        National Park. GabonTravel (2)","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5616971345","owner":"61727647@N03","secret":"61f5262700","server":"5182","farm":6,"title":"Colonial
        Heritage in Lambaren\u00e9 4h from Libreville. Gabon-Travel","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5617557084","owner":"61727647@N03","secret":"088a2ae78b","server":"5106","farm":6,"title"[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=5617558496&secret=e5dfc574fd&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="xj%2F%2FdQOpKVt8Sf9dI0tn1sm6K6iHdnJcwQ5cE2Bq43I%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1569010678", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"5617558496","secret":"e5dfc574fd","server":"5026","farm":6,"dateuploaded":"1302729850","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"6b762e39cb","originalformat":"jpg","owner":{"nsid":"61727647@N03","username":"Middle
        Africa","realname":"","location":"","iconserver":"6011","iconfarm":7,"path_alias":null},"title":{"_content":"Loango
        National Park. GabonTravel (2)"},"description":{"_content":"<a href=\"http:\/\/www.middle-africa.com\/travel-agency-gabon\"
        rel=\"noreferrer nofollow\">Gabon Travel<\/a>"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1302729850","taken":"2009-04-07
        18:39:12","takengranularity":"0","takenunknown":0,"lastupdate":"1525932524"},"views":"411","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"61704593-5617558496-158365","author":"61727647@N03","authorname":"Middle
        Africa","raw":"gabon","_content":"gabon","machine_tag":0},{"id":"61704593-5617558496-69374510","author":"61727647@N03","authorname":"Middle
        Africa","raw":"gabon travel","_content":"gabontravel","machine_tag":0},{"id":"61704593-5617558496-55","author":"61727647@N03","authorname":"Middle
        Africa","raw":"africa","_content":"africa","machine_tag":0}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/61727647@N03\/5617558496\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Fri, 20 Sep 2019 20:17:59 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&lllimit=500&pithumbsize=200&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages%7Clanglinks&rvprop=content&titles=Mekambo,%20Gabon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
      Backend-Timing:
      - D=37264 t=1569010682552228
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 198.147.23.211
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":0,"title":"Mekambo,
        Gabon","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/Mekambo,_Gabon","editurl":"https://en.wikipedia.org/w/index.php?title=Mekambo,_Gabon&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Mekambo,_Gabon"}}}}'
  recorded_at: Fri, 20 Sep 2019 20:18:02 GMT
recorded_with: VCR 5.0.0
