---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Mekambo+Gabon&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="TC%2FUuTtvUcNxMXAfEmw0xp2tiZ0tmdOQXRPAEDcUVv8%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1510389052", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Sat, 11 Nov 2017 08:30:53 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages&rvprop=content&titles=Mekambo,%20Gabon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=28997 t=1510389057185284
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 113.173.18.126
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":0,"title":"Mekambo,
        Gabon","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/Mekambo,_Gabon","editurl":"https://en.wikipedia.org/w/index.php?title=Mekambo,_Gabon&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Mekambo,_Gabon"}}}}'
  recorded_at: Sat, 11 Nov 2017 08:30:57 GMT
recorded_with: VCR 3.0.3
