---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="qtJTBZUM7ZF9fQptB2dc5rUyMBbWdnT7eygLuCB0d70%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508763965", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: woeid=55986789&tags=travel&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="Bj%2B7PIqhRjeHD4B4RhYmEkr4BOklB6BNop2oltUKGZo%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508766615", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":2795,"perpage":100,"total":"279426","photo":[{"id":"37623186170","owner":"61387048@N04","secret":"cf9e35798e","server":"4489","farm":5,"title":"Guacamaya","ispublic":1,"isfriend":0,"isfamily":0},{"id":"24027642608","owner":"84871228@N02","secret":"52a474975e","server":"4460","farm":5,"title":"_29A8597","ispublic":1,"isfriend":0,"isfamily":0},{"id":"37831553876","owner":"132252811@N07","secret":"9029096b36","server":"4473","farm":5,"title":"Lai
        da Palpuogna autumn mood","ispublic":1,"isfriend":0,"isfamily":0},{"id":"37160187693","owner":"50199804@N04","secret":"b1dd4afdcb","server":"4491","farm":5,"title":"namnlo\u0308st
        (17 of 18).jpg","ispublic":1,"isfriend":0,"isfam[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=37848774842&secret=3794073566&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="jpn65g5%2BnYLM7g%2FPtJAEeGrKf5vU%2FIVoC2YgnMKYNrA%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508766616", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"37848774842","secret":"3794073566","server":"4495","farm":5,"dateuploaded":"1508765863","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"75405950@N02","username":"Ralf
        Krause","realname":"Ralf Krause","location":"","iconserver":"7395","iconfarm":8,"path_alias":"ralf_krause"},"title":{"_content":"Erfurt
        at night"},"description":{"_content":"Erfurt Germany\nMarktstrasse\n\nCanon
        EOS 600D"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1508765863","taken":"2017-10-23
        15:19:33","takengranularity":0,"takenunknown":"1","lastupdate":"1508765911"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"75385602-37848774842-5074","author":"75405950@N02","authorname":"Ralf
        Krause","raw":"Erfurt","_content":"erfurt","machine_tag":false},{"id":"75385602-37848774842-587308","author":"75405950@N02","authorname":"Ralf
        Krause","raw":"Marktstrasse","_content":"marktstrasse","machine_tag":false},{"id":"75385602-37848774842-85248238","author":"75405950@N02","authorname":"Ralf
        Krause","raw":"Ralf Krause","_content":"ralfkrause","machine_tag":false},{"id":"75385602-37848774842-60754004","author":"75405950@N02","authorname":"Ralf
        Krause","raw":"Canon EOS 600 D","_content":"canoneos600d","machine_tag":false},[...]
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=37831348606&secret=7efc621bc8&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="j%2Fa%2BNHkTLlnRMz33Uo4nKu6ixahX1la5tyQDKLh7x3o%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508766618", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"37831348606","secret":"7efc621bc8","server":"4476","farm":5,"dateuploaded":"1508765532","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"1e5d12790f","originalformat":"jpg","owner":{"nsid":"47885254@N07","username":"tokyo70","realname":"Tokyo
        Sakura","location":"Tokyo, Japan","iconserver":"1677","iconfarm":2,"path_alias":"tekken90"},"title":{"_content":"Thai
        Airways, HS-TUC, Airbus A380-841 at NRT"},"description":{"_content":"Thai
        Airways International TG676 from Bangkok  is arrived on runway A, 34L.\n\nPhoto:
        Oct. 21st, 2017, NRT \/ RJAA, Chiba pref., Japan"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1508765532","taken":"2017-10-21
        16:06:57","takengranularity":"0","takenunknown":"0","lastupdate":"1508765610"},"views":"2","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"47863924-37831348606-1038","author":"47885254@N07","authorname":"tokyo70","raw":"japan","_content":"japan","machine_tag":false},{"id":"47863924-37831348606-121","author":"47885254@N07","authorname":"tokyo70","raw":"travel","_content":"travel","machine_tag":false},{"id":"47863924-37831348606-3768","author":"47885254@N07","authorname":"tokyo70","raw":"tour","_content":"tour","machine_tag":false},{"id":"47863924-37831348606-154040","author":"47885254@N07","authorname":"tokyo70","raw":"ThaiAirways","_content":"thaiairways","machine_tag":false}]},"location":{"latitude":"35.776669","longitude":"140.362658","accuracy":"14","context":"0","locality":{"_content":"Narita-shi","place_id":"KGSJMqFQU7tsQx3J","woeid":"1117861"},"region":{"_content":"Chiba
        Prefecture","place_id":"uBTVAJJTUb6bnNX5","woeid":"2345854"},"country":{"_content":"Japan","place_id":"W3QedCZTUb5Ez.rF.Q","woeid":"23424856"},"place_id":"KGSJMqFQU7tsQx3J","woeid":"1117861"},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/tekken90\/37831348606\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Mon, 23 Oct 2017 13:50:19 GMT
[...]
