---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Boston+United+States+of+America+travel&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="QfDG%2F7OZmI3azFKC%2BdXKIi5KQ2Mpg8bzNPUQqQCUb24%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1569010682", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Fri, 20 Sep 2019 20:18:04 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Boston+Massachusetts&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="zy%2FRxbSbbs1Ck6dc5lbejDaN5B2m%2BUidCgsldH4r%2FsY%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1569010687", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":103,"perpage":100,"total":"10216","photo":[{"id":"48734710743","owner":"104243966@N08","secret":"e3dbb6b34b","server":"65535","farm":66,"title":"Gazing
        upon Boston Harbor","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48708747947","owner":"27110342@N03","secret":"9046cf652d","server":"65535","farm":66,"title":"Bi
        the Way","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48708587021","owner":"27110342@N03","secret":"6e4d9b48f4","server":"65535","farm":66,"title":"Trans
        Pride,  Queer Pride","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48708250663","owner":"27110342@N03","secret":"8bf06da123","server":"65535","farm":66,"title":"Through
        the Marsh","ispublic":1,"isfriend":0,"isfam[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=48641985558&secret=9026b89d04&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="jW6KXOtpZvXoE8ZzSdxG8kf3T5ntJK6m6gR1KYfWMwQ%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1569010689", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"48641985558","secret":"9026b89d04","server":"65535","farm":66,"dateuploaded":"1567090687","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"cd8c9b964d","originalformat":"jpg","owner":{"nsid":"48508399@N02","username":"State
        Library of Massachusetts","realname":"State Library of Massachusetts","location":"","iconserver":"599","iconfarm":1,"path_alias":"mastatelibrary"},"title":{"_content":"The
        Spanish Flu Epidemic"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1567090687","taken":"2019-08-09
        15:51:35","takengranularity":0,"takenunknown":"1","lastupdate":"1567102968"},"views":"56","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"48488051-48641985558-5865","author":"48508399@N02","authorname":"State
        Library of Massachusetts","raw":"Massachusetts","_content":"massachusetts","machine_tag":0},{"id":"48488051-48641985558-29580","author":"48508399@N02","authorname":"State
        Library of Massachusetts","raw":"1919","_content":"1919","machine_tag":0},{"id":"48488051-48641985558-1016260","author":"48508399@N02","authorname":"State
        Library of Massachusetts","raw":"Spanish flu","_content":"spanishflu","machine_tag":0},{"id":"48488051-48641985558-51390","author":"48508399@N02","authorname":"State
        Library of Massachusetts","raw":"influenza","_content":"influenza","machine_tag":0},{"id":"48488051-48641985558-1095076","author":"48508399@N02","authorname":"State
        Library of Massachusetts","raw":"flu epidemic","_content":"fluepidemic","machine_tag":0},{"id":"48488051-48641985558-871781","author":"48508399@N02","authorname":"State
        Library of Massachusetts","raw":"Boston, Massachusetts","_content":"bostonmassachusetts","machine_tag":0}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/mastatelibrary\/48641985558\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Fri, 20 Sep 2019 20:18:10 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&lllimit=500&pithumbsize=200&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages%7Clanglinks&rvprop=content&titles=Boston,%20Massachusetts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
      Backend-Timing:
      - D=47373 t=1569010692959295
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 198.147.23.211
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."},"main":{"*":"Subscribe
        to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"revisions":{"*":"Because
        \"rvslots\" was not specified, a legacy format has been used for the output.
        This format is deprecated, and in the future the new format will always be
        used."}},"query":{"pages":{"26349082":{"pageid":26349082,"ns":0,"title":"Boston,
        Massachusetts","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2019-09-19T15:55:00Z","lastrevid":346511357,"length":20,"redirect":"","new":"","fullurl":"https://en.wikipedia.org/wiki/Boston,_Massachusetts","editurl":"https://en.wikipedia.org/w/index.php?title=Boston,_Massachusetts&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Boston,_Massachusetts","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"#REDIRECT
        [[Boston]]"}],"links":[{"ns":0,"title":"Boston"}],"extract":""}}}}'
  recorded_at: Fri, 20 Sep 2019 20:18:13 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&lllimit=500&pithumbsize=200&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages%7Clanglinks&rvprop=content&titles=Boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
      Backend-Timing:
      - D=67678 t=1569010693120757
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 198.147.23.211
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"plcontinue":"24437894|0|1880_United_States_Census","elcontinue":"http://com.basketball.www./nba/history.shtml|449437318","imcontinue":"24437894|Boston_Massachusetts_2007_satellite_photo.jpg","clcontinue":"24437894|Cities_in_Massachusetts","tlcontinue":"24437894|10|Category_handler","continue":"||info|revisions|coordinates|extracts|pageimages|langlinks"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."},"main":{"*":"Subscribe
        to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated feat[...]
