---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="8oM0TKSCiGoKtNUDWnb5m0hzy8mEaHJpPUCZTUJi3mU%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508255044", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: query=Boston&method=flickr.places.find&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="01vq%2BE7Skr3Q1kENxyaMzIfoQWg3%2BUCDpDJOzvYcUO8%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508255046", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"places":{"place":[{"place_id":"5MvaTZJTUbx1uPnP","woeid":"2367105","latitude":"42.358","longitude":"-71.056","place_url":"\/United+States\/Massachusetts\/Boston","place_type":"locality","place_type_id":"7","timezone":"America\/New_York","_content":"Boston,
        Massachusetts, United States","woe_name":"Boston"},{"place_id":"VAcZkD9QUbkozQ","woeid":"13318","latitude":"52.974","longitude":"-0.029","place_url":"\/United+Kingdom\/England\/Boston","place_type":"locality","place_type_id":"7","timezone":"Europe\/London","_content":"Boston,
        England, United Kingdom","woe_name":"Boston"},{"place_id":"CtJU4htTUbwhpvba","woeid":"2367104","latitude":"30.792","longitude":"-83.790","place_url":"\/United+States\/Georgia\/Boston","place_type":"locality","place_type_id":"7","timezone":"America\/New_Yor[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: place_id=5MvaTZJTUbx1uPnP&tags=travel&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="9Oo3Kvlo53kuibp9vH4Wsn6QexaFnBBUG0TRn0Bz9l4%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508255047", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":25,"perpage":250,"total":"6098","photo":[{"id":"37630527612","owner":"64923803@N02","secret":"93ea99bd4a","server":"4456","farm":5,"title":"Beacon
        Hill #Boston #Massachusetts #travel","ispublic":1,"isfriend":0,"isfamily":0},{"id":"37613731576","owner":"64923803@N02","secret":"fc4b69e4d1","server":"4479","farm":5,"title":"Beacon
        Hill #Boston #Massachusetts #travel","ispublic":1,"isfriend":0,"isfamily":0},{"id":"37630527242","owner":"64923803@N02","secret":"18775ac78a","server":"4507","farm":5,"title":"Beacon
        Hill #Boston #Massachusetts #travel","ispublic":1,"isfriend":0,"isfamily":0},{"id":"37645551721","owner":"77363333@N08","secret":"7f07759b06","server":"4446","farm":5,"title":"Larz
        And[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=30934769614&secret=b397dd4e5d&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="lOIYUromyBIvgsHQdIRZ3XdbyHKwHvnMoxAJa55fWBU%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508255050", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"30934769614","secret":"b397dd4e5d","server":"5558","farm":6,"dateuploaded":"1482291297","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"131673133@N05","username":"DDUONGPHOTOGRAPHY","realname":"Derrick
        Duong","location":"","iconserver":"8898","iconfarm":9,"path_alias":"dduongphoto"},"title":{"_content":"Shops
        at Downtown Crossing"},"description":{"_content":"Shoppers at Downtown Crossing
        in Boston MA."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1482291297","taken":"2016-12-10
        18:21:27","takengranularity":"0","takenunknown":"0","lastupdate":"1503260341"},"views":"2651","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"131667793-30934769614-107782","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"Downtown
        Crossing","_content":"downtowncrossing","machine_tag":0},{"id":"131667793-30934769614-1014","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"Boston","_content":"boston","machine_tag":0},{"id":"131667793-30934769614-2459756","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"retail
        stores","_content":"retailstores","machine_tag":0},{"id":"131667793-30934769614-1455","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"Shopping","_content":"shopping","machine_tag":0},{"id":"131667793-30934769614-419","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"Signs","_content":"signs","machine_tag":0},{"id":"131667793-30934769614-103","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"city","_content":"city","machine_tag":0},{"id":"131667793-30934769614-39","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"life","_content":"life","machine_tag":0},{"id":"131667793-30934769614-121","author":"131673133@N05","authorname":"DDUONGPHOTOGRAPHY","raw":"travel","_content":"travel","machine_tag":0}]},"location":{"latitude":"42.355523","longitude":"-71.060589","accuracy":"16","context":"0","neighbourhood":{"_content":"Downtown
        Crossing","place_id":"wt9djAlUV7N.eeXhNg","woeid":"55986778"},"locality":{"_content":"Boston","place_id":"5MvaTZJTUbx1uPnP","woeid":"2367105"},"county":{"_content":"Suffolk","place_id":"VWDpFBNQUL.4PrJx4A","woeid":"12588712"},"region":{"_content":"Massachusetts","place_id":".q5NMwBTUb5TMxKc","woeid":"2347580"},"country":{"_content":"United
        States","place_id":"nz.gsghTUb4c2WAecA","woeid":"23424977"},"place_id":"wt9djAlUV7N.eeXhNg","woeid":"55986778"},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/dduongphoto\/30934769614\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 17 Oct 2017 15:44:11 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=30231131580&secret=0a58b7dfd1&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="QWLgKIFLFgWANP6gueITN1h%2BD5Nk2E6P6PNjuqpriTQ%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1508255054", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"30231131580","secret":"0a58b7dfd1","server":"5637","farm":6,"dateuploaded":"1477284000","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"6c0ca412ba","originalformat":"jpg","owner":{"nsid":"141111644@N07","username":"MG
        Photography75","realname":"Mel Hartshorn","location":"","iconserver":"5760","iconfarm":6,"path_alias":null},"title":{"_content":"Boston."},"description":{"_content":"USA.
        2016."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1477284000","taken":"2016-09-30
        12:56:52","takengranularity":"0","takenunknown":"0","lastupdate":"1477284991"},"views":"21","editability":{"cancomment":0,"canaddmeta":0},"[...]
[...]
