---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=Boston+United+States+of+America&tag_mode=ALL&safe_search=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="10a9d6b7d1494c7ae615db24e02ea28b",
        oauth_nonce="jNrOkXWsc2K5ssm0WuvF2QdZls%2BLitGdtWkIJpzehYI%3D", oauth_signature="47652ab918e0f91f%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1527775089", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="2oALgLKofTmeZvoZ1y/fSZg7R9jPMix8eVA6DH4o/q8="; pin-sha256="Gtk3r1evlBrs0hG3fm3VoM19daHexDWP//OCmeeMr5M=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        pin-sha256="SVqWumuteCQHvVIaALrOZXuzVVVeS7f4FGxxu6V+es4="; pin-sha256="UZJDjsNp1+4M5x9cbbdflB779y5YRBcV6Z6rBMLIrO4=";
        pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw="; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=";
        pin-sha256="cAajgxHlj7GTSEIzIYIQxmEloOSoJq7VOaxWHfv72QM="; pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A=";
        pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY="; pin-sha256="iduNzFNKpwYZ3se/XV+hXcbUonlLw09QPa6AYUwpu4M=";
        pin-sha256="lnsM2T/O9/J84sJFdnrpsFp3awZJ+ZZbYpCWhGloaHI="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Thu, 31 May 2018 13:58:11 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages&rvprop=content&titles=Boston,%20Massachusetts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
      Backend-Timing:
      - D=54381 t=1527775094268115
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 184.75.212.43
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"26349082":{"pageid":26349082,"ns":0,"title":"Boston,
        Massachusetts","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-05-30T17:20:51Z","lastrevid":346511357,"length":20,"redirect":"","new":"","fullurl":"https://en.wikipedia.org/wiki/Boston,_Massachusetts","editurl":"https://en.wikipedia.org/w/index.php?title=Boston,_Massachusetts&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Boston,_Massachusetts","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"#REDIRECT
        [[Boston]]"}],"links":[{"ns":0,"title":"Boston"}],"extract":""}}}}'
  recorded_at: Thu, 31 May 2018 13:58:14 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages&rvprop=content&titles=Boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
      Backend-Timing:
      - D=242584 t=1527775094803868
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 184.75.212.43
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"plcontinue":"24437894|0|1890_United_States_Census","eloffset":10,"imcontinue":"24437894|Boston_Montage.jpg","clcontinue":"24437894|Articles_with_short_description","tlcontinue":"24437894|10|Both","continue":"||info|revisions|coordinates|extracts|pageimages"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"24437894":{"pageid":24437894,"ns":0,"title":"Boston","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2018-05-31T13:41:04Z","lastrevid":843669414,"length":178952,"fullurl":"https://en.wikipedia.org/wiki/Boston","editurl":[...]
