<% provide :title, t('.where-next') %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<%= link_to 'Where to?', place_path(@place), class: 'btn btn-primary' %>
		<h2><%= @place.city %>, <%= @place.country %></h2>
		<h3><%= @place.id %></h3>
	</div>
</div>