<% provide :title, t('.where-to') %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<h1>Show Me The World</h1>
	</div>
	<div class="col-xs-12">
		<%= link_to 'Where to?', place_path(@place), class: 'btn btn-primary' %>
	</div>
</div>